<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<div class="card-container">

    <div class="titleAndButton">

        <h2>Recomendaciones de Clientes</h2>

        <button class="buttons" id="filter">

            <a>Filtrar usuarios</a>

        </button>

    </div>

    <div class="ClientsView">

        <div class="ProfileSugges">

            <div class="left_card_section">

                <div class="profile_image">

                    <span>Imagen</span>

                </div>

                <button class="comments_button">Ver comentarios</button>

            </div>

            <div class="right_card_section">

                <div class="title_F">

                    <p class="username">Usuario de ejemplo</p>

                    <p class="username">correo@ejemplo.com</p>

                </div>

                <div class="sections">

                    <h3>Sobre la empresa:</h3>

                    <p class="content_F">Aquí debe de mostrarse la descripcion que el usuario puso en su perfil</p>

                </div>

                <div class="sections">

                    <h3>Sus etiquetas son:</h3>

                    <p class="content_F">Aquí pongan las etiquetas de la empresa</p>

                </div>

            </div>

        </div>

        <div class="ProfileSugges">

            <div class="left_card_section">

                <div class="profile_image">

                    <span>Imagen</span>

                </div>

                <button class="comments_button">Ver comentarios</button>

            </div>

            <div class="right_card_section">

                <div class="title_F">

                    <p class="username">Usuario de ejemplo</p>

                    <p class="username">correo@ejemplo.com</p>

                </div>

                <div class="sections">

                    <h3>Sobre la empresa:</h3>

                    <p class="content_F">Aquí debe de mostrarse la descripcion que el usuario puso en su perfil</p>

                </div>

                <div class="sections">

                    <h3>Sus etiquetas son:</h3>

                    <p class="content_F">Aquí pongan las etiquetas de la empresa</p>

                </div>

            </div>

        </div>

        <div class="ProfileSugges">

            <div class="left_card_section">

                <div class="profile_image">

                    <span>Imagen</span>

                </div>

                <button class="comments_button">Ver comentarios</button>

            </div>

            <div class="right_card_section">
                <div class="title_F">
                    <p class="username">Usuario de ejemplo</p>
                    <p class="username">correo@ejemplo.com</p>
                </div>

                <div class="sections">
                    <h3>Sobre la empresa:</h3>
                    <p class="content_F">Aquí debe de mostrarse la descripcion que el usuario puso en su perfil</p>
                </div>

                <div class="sections">
                    <h3>Sus etiquetas son:</h3>
                    <p class="content_F">Aquí pongan las etiquetas de la empresa</p>
                </div>
            </div>
        </div>
    </div>

</html>