<!DOCTYPE html>
<html lang="en">
<h2>Recomendaciones de Clientes</h2>

<div class="ClientsView">
    <div class="ProfileSugges">
        <div class="title_F">
            <div>
                <p class="username">Usuario de ejemplo</p>
            </div>
        </div>
        <p class="content_F">
            Aquí debería haber una descripcion sobre el cliente.
        </p>

        <p class="content_F">
            Aquí debería haber una descripcion sobre el porque se le recomienda al usuario este perfil. Asi mismo, en caso de basar las
            recomendaciones en el historial de compras del usuario, aca deberan aparecer coincidencias de compras, ya sea compras anteriores
            o compras en otros usuarios con las mismas etiquetas,
        </p>

    </div>

    <div class="ProfileSugges">
        <div class="title_F">
            <div>
                <p class="username">Usuario de ejemplo</p>
            </div>
        </div>
        <p class="content_F">
            Aquí debería haber una descripcion sobre el cliente.
        </p>

        <p class="content_F">
            Aquí debería haber una descripcion sobre el porque se le recomienda al usuario este perfil. Asi mismo, en caso de basar las
            recomendaciones en el historial de compras del usuario, aca deberan aparecer coincidencias de compras, ya sea compras anteriores
            o compras en otros usuarios con las mismas etiquetas,
        </p>

    </div>

    <div class="ProfileSugges">
        <div class="title_F">
            <div>
                <p class="username">Usuario de ejemplo</p>
            </div>
        </div>
        <p class="content_F">
            Aquí debería haber una descripcion sobre el cliente.
        </p>

        <p class="content_F">
            Aquí debería haber una descripcion sobre el porque se le recomienda al usuario este perfil. Asi mismo, en caso de basar las
            recomendaciones en el historial de compras del usuario, aca deberan aparecer coincidencias de compras, ya sea compras anteriores
            o compras en otros usuarios con las mismas etiquetas,
        </p>

    </div>

</div>
</html>