/* !Celular */
@media (max-width: 599px) {
  .perfilContenedor {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .perfil {
    background-color: whitesmoke;
    color: #000;
  }

  .perfil:active {
    background-color: rgb(100, 100, 100);
  }
}

/* !Tablet */
@media (min-width: 600px) and (max-width: 899px) {
  .perfilContenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .perfil {
    background-color: whitesmoke;
    color: #000;
  }

  .perfil:active {
    background-color: rgb(100, 100, 100);
  }
}

/*! Computadora */
@media (min-width: 900px) {
  .perfilContenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    color: black;
  }

  .perfil {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px 0;
    flex-basis: calc(33.33% - 14px);
  }

  .perfil:hover {
    background-color: whitesmoke;
    border-color: #000;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.12);
    transform: scale(1.01);
  }

  .user4 {
    flex-basis: 100%;
  }
}

.perfil {
  text-align: center;
  padding: 60px;
  height: auto;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 0px black;
  flex: 1;
}

.profile-image{
  height: 65px;
  width: 60px;
}

.perfil-text{
  text-align: left;
  margin: auto;
}

.perfil-text p{
  font-size: large;
  font-family: sans-serif;
}

.perfil-text strong{
  color: #222e9b;
  font-family: sans-serif;
}

