/*Movil*/
@media (max-width: 599px) {

    .search_bar {
        width: 90%;
        height: 10%;
        text-align: center;
    }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 899px) {
    .left_bar {
        display: none;
    }

    .search_bar {
        width: 80%;
        height: 10%;
        text-align: center;
    }

}

/*Computadora*/
@media (min-width: 900px) {

    .search_bar {
        width: 60%;
        height: 10%;
        text-align: center;
    }

}

.container4suggests {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/*Aqui pondremos la configuracion para la pagina "Comments"*/
.suggest {
    display: flex;
    background-color: white;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.title_S {
    display: flex;
    align-items: center;
    gap: 15px;
}

.date {
    font-size: 0.85em;
    align-self: flex-end;
}

.User_img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-color: rgb(233, 221, 221);
}

.username {
    font-weight: bold;
    margin: 0;
}

.content_S {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
    padding-top: 10px;
}

/*Aqui pondremos la configuracion para la pagina "Recommends"*/

/*Aqui pondremos la configuracion para la pagina "Clientes"*/
.ClientsView {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.ProfileSugges {
    display: flex;
    background-color: white;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.title_F {
    display: flex;
    align-items: center;
    gap: 15px;
}

.content_F {
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
    padding-top: 30px;
}