/*Usamos esto para quitar estilos base*/
*{
    /*Evita desbordamiento*/
    box-sizing: border-box;
    /*Quita margenes*/
    margin: 0;
    /*Quita el espaciado*/
    padding: 0;
}

html {
    /*Sirve para indicar que las estructuras ocupen el maximo de tamanio*/
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*Rem son unidades relativas = 16 px*/
    font-size: 1.2rem;
    /*Se complementa con el heigt del html*/
background: #43C6AC;  
background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  
background: linear-gradient(to right, #F8FFAE, #43C6AC);

}

/*Indicamos que la clase .Design heredara los atributos de la clase * */
.Design > * {
    border: 1px solid black;
    text-align: center;
}

/*Creamos el disenio*/
.Design {
    display: grid;
    /*Creamos las areas que usaremos*/
    grid-template-areas: 
    "header"
    "menu"
    "left_bar"
    "right_bar"
    "main"
    "footer";
}

/*Relacionamos las areas con las secciones*/

/*Encabezado*/
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.2fr;
    width: 100%;
}

.perfilContenedor{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
   
}

.perfil {
    text-align: center;
    padding: 60px;
    border-radius: 12px;
    background: #baf3e6; /* color más claro para resaltar */
    color: #083a31; /* texto verde bosque */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.pictures {
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: auto;
    height: auto;
    display: flex;             
    justify-content: center;   
    align-items: center;        
}

/*Menu*/
.menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

#MandV {
    grid-area: footer;
    display: grid;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.options {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    
}

/*Barra izquierda*/
.left_bar{
    grid-area: left_bar;
}

/*Barra derecha*/
.right_bar{
    grid-area: right_bar;
}

/*El apartado principal*/
.main{
    grid-area: main;
    background: linear-gradient(180deg, #7ef0c3 0%, #43c5b5 100%);
    display: grid;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/*Pie de pagina*/
.footer{
    grid-area: footer;
    background-color: #B1FCB3;
    font-weight: bold;
    color: #083a31;
}


/*Establecemos el disenio para cada vista*/

/*Celular*/
@media(max-width: 599px){

    .Design{
        /*Tamanio personalizados*/
        grid-template-columns: 100px auto;
        /*min-content establece el menor espacio posible para mostrar algo*/
        grid-template-rows: 70px min-content auto 70px;
        grid-template-areas: 
        "header right_bar"
        "menu menu"
        "left_bar main"
        "footer footer";
    }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 899px){

    .Design{
        /*Tamanio personalizados*/
        grid-template-columns: 100px auto;
        /*min-content establece el menor espacio posible para mostrar algo*/
        grid-template-rows: 70px min-content auto 70px 70px;
        grid-template-areas: 
        "header header"
        "menu menu"
        "left_bar main"
        "right_bar right_bar"
        "footer footer";
    }
}

/*Computadora*/
@media(min-width: 900px){
    .left_bar {
            display: none;
        }
   
    .Design {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: min-content min-content auto 100px;
    grid-template-areas: 
      "header header"
      "menu menu"
      "main right_bar"
      "footer footer";
    }
}


