/*Usamos esto para quitar estilos base*/
*{
    /*Evita desbordamiento*/
    box-sizing: border-box;
    /*Quita margenes*/
    margin: 0;
    /*Quita el espaciado*/
    padding: 0;
}

html {
    /*Sirve para indicar que las estructuras ocupen el maximo de tamanio*/
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*Rem son unidades relativas = 16 px*/
    font-size: 1.2rem;
    /*Se complementa con el heigt del html*/
    min-height: 100%;
}

/*Indicamos que la clase .Design heredara los atributos de la clase * */
.Design > * {
    border: 1px solid black;
    text-align: center;
}

/*Creamos el disenio*/
.Design {
    display: grid;
    /*Creamos las areas que usaremos*/
    grid-template-areas: 
    "header"
    "menu"
    "left_bar"
    "right_bar"
    "main"
    "footer";
}

/*Relacionamos las areas con las secciones*/

/*Encabezado*/
.header{
    grid-area: header;
    background-color: #B1FCB3;
  
}

/*Menu*/
.menu{
    grid-area: menu;
    background-color: #B1FCB3;
    display: block  ;
}

/*Barra izquierda*/
.left_bar{
    grid-area: left_bar;
    background-color: #E9FCCF;
}

/*Barra derecha*/
.right_bar{
    grid-area: right_bar;
    background-color: #E9FCCF;
}

/*El apartado principal*/
.main{
    grid-area: main;
    background-color: #E9FCCF;
}

/*Pie de pagina*/
.footer{
    grid-area: footer;
    background-color: #B1FCB3;
}


/*Establecemos el disenio para cada vista*/



/*Celular*/
@media(max-width: 599px){

    .Design{
        /*Tamanio personalizados*/
        grid-template-columns: 100px auto;
        /*min-content establece el menor espacio posible para mostrar algo*/
        grid-template-rows: 70px min-content auto 70px;
        grid-template-areas: 
        "header right_bar"
        "menu menu"
        "left_bar main"
        "footer footer";
    }
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 899px){

    .Design{
        /*Tamanio personalizados*/
        grid-template-columns: 100px auto;
        /*min-content establece el menor espacio posible para mostrar algo*/
        grid-template-rows: 70px min-content auto 70px 70px;
        grid-template-areas: 
        "header header"
        "menu menu"
        "left_bar main"
        "right_bar right_bar"
        "footer footer";
    }
}

/*Computadora*/
@media(min-width: 900px){
    .left_bar {
            display: none;
        }
   
    .Design {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100px min-content auto 100px;
    grid-template-areas: 
      "header header"
      "menu menu"
      "main right_bar"
      "footer footer";
    }
}