<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página No Encontrada</title>
    <!-- Iconos para android -->
    <link rel="manifest" href="views/public/manifest.json" />
     <!-- Icono para IOS -->
    <link rel="apple-touch-icon" type="image/png" href="views/public/icons/ios.png">
    <meta name="mobile-web-app-capable" content="yes" /> 
    <meta name="apple-mobile-web-app-title" content="SMC App" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <style>
        div{
            text-align: center; 
            padding-top: 50px;
        }
        a{
            display: inline-block; 
            margin-top: 20px; 
            padding: 10px 20px; 
            background-color: #007bff; 
            color: white; 
            text-decoration: none; 
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h1>¡Error 404!</h1>
        <p>Lo sentimos, la página que estás buscando no pudo ser encontrada.</p>
        <p>Es posible que haya escrito mal la dirección o que la página haya sido movida.</p>
        
        <a href="index.php?page=home">Ir a la Página de Inicio</a>
    </div>
</body>
</html>