:root {
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;
    --color-yellow: #ffff00;
    --color-purple: #ff00ff;
    --color-orange: #ffa500;
    --color-pink: #ffc0cb;
    --color-brown: #a52a2a;
    --color-gray: #808080;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-muted: #6c757d;
    --color-menta: #c6ffc6;
}